@media  screen and (min-width: 600px) {

    /*Humberger*/
    #open-menu {
        display: none;
    }

    /* ========================
             Players Table
        =========================== */
    .players-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    .players-table th,
    .players-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    .players-table img {
        border-radius: 50%;
    }

    
}